#warnOrientation {
  display: none;
}

#root {
  font-size: 1em;
  border: 1px solid red;
  display: flex;
  width: 95vw;
  height: 50vw;
  margin: 0 auto;
}

.App {
  width: 100%;
  height: 100%;
  display: table;
  padding: 3em;
}

.table {
  position: relative;
  background: green;
  border-radius: 200px;
  display: table-cell;
}

.board {
  margin: 0 auto;
  width: 60%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.board img {
  width: 20%;
}

.board button {
  border: 1px solid #CCC;
  border-radius: 3px;
  background-color: #EEE;
}

.player {
  z-index: 1000;
  position: absolute;
  width: 20%;
  text-align: center;
}

.info {
  position: relative;
  margin-top: -2em;
  background: #DDD;
  border: 1px solid #333;
}

.cards {
  margin: -1.5em auto 0 auto;
}

.cards img {
  width:45%;
  box-shadow: 1px 3px 5px #333;
}

.player:nth-child(1) {
  top: 90%;
  left: 70%;
}

.player:nth-child(2) {
  top: 90%;
  left: 20%;
}

.player:nth-child(3) {
  top: 40%;
  left: -5%;
}

.player:nth-child(4) {
  top: -5%;
  left: 20%;
}

.player:nth-child(5) {
  top: -5%;
  left: 70%;
}

.player:nth-child(6) {
  top: 40%;
  left: 90%;
}

@media (orientation: portrait) {
  #warnOrientation {
    display: block;
  }

  #root {
    display: none;
  }
}