#warnOrientation {
  display: none;
}

#app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  vertical-align: middle;
}

button {
  border: 1px solid #CCC;
  border-radius: 5px;
  background: #EEE;
  color: #333;
}

.table {
  position: relative;
  background: green;
  border-radius: 200px;
  height: 100vh;
  width: 100%;
}

.board {
  margin: 0 auto;
  width: 60%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.board .card {
  height: 5em;
}

.board button {
  border: 1px solid #CCC;
  border-radius: 3px;
  background-color: #EEE;
}

.player {
  position: absolute;
  z-index: 2000;
  border: 1px solid none;
  width: 9em;
  text-align: center;
}

.player.best {
  border: 3px solid red;
}

.fold {
  width: 100%;
}

.iterations, .loading {
  color: #FFF;
  font-size: 0.75em
}

.cards {
  margin: 0 auto 0 auto;
  position: relative;
  z-index: -1;
}

.card {
  height: 5em;
}

.info {
  padding: 0.5em;
  margin-top: -2em;
  background: white;
  display: block;
  --p: 10px; /* control the shape (can be percentage) */
  /* height: 180px; */
  aspect-ratio: 2/1;
  clip-path: polygon(var(--p) 0,calc(100% - var(--p)) 0,100% 100%,0 100%);
}

.info button {
  display: block;
  margin: 0 auto;
}

.info pre {
  font-size: xx-small;
}

/*

.info {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  z-index: 10000;
  margin-top: -4em;
  min-height: 2em;
  background: #DDD;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 1em;
} */

.equity {
  color: white;
}

.excluded {
  opacity: 0.80;
}

.player:nth-child(1) {
  bottom: 5%;
  left: 70%;
}

.player:nth-child(2) {
  bottom: 5%;
  left: 20%;
}

.player:nth-child(3) {
  top: 40%;
  left: 2%;
}

.player:nth-child(4) {
  top: 5%;
  left: 20%;
}

.player:nth-child(5) {
  top: 5%;
  left: 70%;
}

.player:nth-child(6) {
  top: 40%;
  right: 5%;
}

@media (orientation: portrait) {
  #warnOrientation {
    display: block;
  }

  #root {
    display: none;
  }
}